name: Lint

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]
    paths-ignore:
      - 'CHANGELOG.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    # to fail on error in multiline statements (-e), in pipes (-o pipefail), and on unset variables (-u).
    shell: bash -euo pipefail {0}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        filter: blob:none
        fetch-depth: 0

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        python-version: "3.11"
        cache-dependency-glob: pyproject.toml

    - name: Install dependencies
      run: uv sync --frozen --extra dev

    - name: Install pre-commit
      run: uv pip install pre-commit
    - name: Run pre-commit
      run: pre-commit run --all-files --skip no-commit-to-branch
